.git
.vscode
node_modules
target*
dist*
shared*
tsconfig.base.json

# Test file
src-*
guest-js-*
guest-js/index_*
guest-js/index-*
Cargo-*.toml

# Logs
Cargo.lock
package-lock.json
yarn.lock

README.md
banner.png